/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */

a:hover{ 
	color: orange;
	text-decoration: none;
	cursor: pointer;
}

#map{
      background-color: #fff!important;
      position: fixed; 
top: 0px; 
bottom: 0; 
left: 350px; 
right: 0;
}

div
{
position: relative;
}

div#popup {
	font-size: small;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	color: rgb(25, 25, 25);
	text-align: center;
}

div#popup_wp {
	font-size: small;
        font-weight: normal;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	color: rgb(25, 25, 25);
	text-align: center;
}

div#popup_partner {
	font-size: x-small;
	font-family: 'Open Sans',Arial,Helvetica,sans-serif;
	color: rgb(81, 81, 81);
	text-align: center;
}

.leaflet-control-layers-overlays img{
	width: 15px;
	height: 15px;
	/* move the icon to the bottom a little bit*/
}


div.leaflet-bottom{
       position: fixed;
       bottom: 10px;
}



div.leaflet-popup
{
z-index: 99999999;
}

img.leaflet-marker-icon
{
opacity: 0.7;
transition: .2s opacity ease-in;
}

img.leaflet-marker-icon:hover
{
opacity: 1;
border-radius: 50%;
border-radius: 8px;
-webkit-filter: drop-shadow(-1px -1px 1px rgba(0,0,0,0.5));
z-index: 99999999;
}

.potager, .leaflet-container a.potager
{
color: #9f772b;
}

.repaircafe, .leaflet-container a.repaircafe
{
color: #9c2986;
}

.gac, .leaflet-container a.gac
{
color: #679b3d;
}

.donnerie, .leaflet-container a.donnerie
{
color: #1a9191;
}

.res, .leaflet-container a.res
{
color: #e1bd25;
}

.sel, .leaflet-container a.sel
{
color: #c24a2a;
}

a.lienpopup
{
    display: block;
    margin-bottom: 0.4em;
    font-weight: bold;
    letter-spacing: 0.02em;
    font-size: 0.95em;
}

#sidebar-second.column.sidebar.recherche-initiatives-carto.avenir
{
position: fixed;
    z-index: 15;
    bottom: 0em;
    left: 0;
    margin: 0;
    background-color: white;
    padding: 2em;
    padding-left: 2em;
    margin-left: 0em;
    padding-bottom: 2em;
	padding-top: 2em;
    top: 0px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	overflow-y: auto;
	width: 300px;
}

@media all and (max-width: 900px) {
  /* ----------------- Menu on Small Resolutions ---------- */
  
#sidebar-second.column.sidebar.recherche-initiatives-carto.avenir
{
position: fixed;
    z-index: 15;
    bottom: 0em;
    left: 0;
	right: 0;
	width: auto;
    margin: 0;
    background-color: white;
    padding: 2em;
    padding-left: 4em;
    padding-bottom: 2em;
	padding-top: 2em;
    top: 70%;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
	overflow-y: auto;
}  

#map
{
position: fixed; 
top: 0px; 
left: 0px; 
right: 0;
bottom: 25%;
}

}